@page "/lista-usuarios"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject IJSRuntime JS
@attribute [Authorize(Roles = "admin")]

@using System.Text.Json

@*@<MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Create" Color="Color.Success" Size="Size.Medium">
    <a style="text-decoration:none; color:#fff;" @onclick="CrearUsuario">Agregar usuario</a>
</MudButton>*@
<div class="btn-group btn-block my-2">
    <MudButton Link="/authentication/register" Variant="Variant.Filled"
               Color="Color.Success"Size="Size.Medium" Style="text-decoration :none;" >Registrar nuevo usuario</MudButton>
</div>
@if (applicationUsers == null)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Cargando...</span>
        </div>
    </div>
}
else if (applicationUsers.Count == 0)
{
    <div class="d-flex justify-content-center align-items-center" style="height:24rem">
        <text>No se encontraron usuarios.</text>
    </div>
}
else
{
    <br />

    <MudTable Items="@applicationUsers" Dense="@dense" Hover="@hover" Bordered="@bordered" Striped="@striped" Filter="new Func<ApplicationUser,bool>(FilterFunc1)"
          @bind-SelectedItem="selectedItem1">
        <ToolBarContent>
            <MudText Typo="Typo.h6">Usuarios</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString1" Placeholder="Buscar usuario..." Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            @*<MudTh Style="width:50px;">Nr</MudTh>*@
            <MudTh>Nombre</MudTh>
            <MudTh>Apellidos</MudTh>
            <MudTh>Cédula</MudTh>
            <MudTh>Teléfono</MudTh>
            <MudTh>Email</MudTh>
            <MudTh>Nombre de usuario</MudTh>
        
            <MudTh>Acciones</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Nombre">@context.NombreyApellido</MudTd>
            <MudTd DataLabel="Apellidos">@context.Apellido</MudTd>
            <MudTd DataLabel="Cédula">@context.Cedula</MudTd>
            <MudTd DataLabel="Teléfono">@context.PhoneNumber</MudTd>
            <MudTd DataLabel="Email">@context.Email</MudTd>
            <MudTd DataLabel="Usuario">@context.UserName</MudTd>
           
            <MudTd>
                <MudFab Color="Color.Error" StartIcon="@Icons.Material.Filled.Edit" Size="Size.Small"
                    @onclick="@(() => NavigationManager.NavigateTo($"/editar-usuarios/{context.Id}"))" />
            </MudTd>
        </RowTemplate>

        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>
}
@code {
    private bool dense = false;
    private bool hover = true;
    private bool striped = true;
    private bool bordered = true;
    private string searchString1 = "";
    private ApplicationUser selectedItem1 = null;
    private HashSet<ApplicationUser> selectedItems = new HashSet<ApplicationUser>();


    public List<ApplicationUser> applicationUsers { get; set; } //muestra todos los Categoria
    ApplicationUser objUsers = new ApplicationUser();

    private string NombreArtFiltro = String.Empty; //filtros

    protected bool lista = false;
    protected bool card = true;

    protected override async Task OnInitializedAsync()
    {
        await CargarUsuarios();
    }

    async Task CargarUsuarios()
    {
        var httpResponse = await Http.GetAsync($"api/Usuarios");
        if (httpResponse.IsSuccessStatusCode)
        {
            var responseString = await httpResponse.Content.ReadAsStringAsync();
            applicationUsers = JsonSerializer.Deserialize<List<ApplicationUser>>(responseString,
                new JsonSerializerOptions() { PropertyNameCaseInsensitive = true });
        }
        else
        {
            Console.WriteLine("Error con usuarios");
        }
    }

    void CambiarVista() //  esta parte cambia entre vista de tarjetas o vista de grilla
    {
        lista = !lista;
        card = !card;
    }


    async Task MostrarTodos()
    {
        await CargarUsuarios();
    }

    void CrearUsuario()
    {
        NavigationManager.NavigateTo("crearusuarios");
    }

    private async Task Filtrar()
    {
        await CargarUsuarios();
    }

    private async Task Limpiar()
    {
        NombreArtFiltro = string.Empty;
        await CargarUsuarios();
    }

    // esta es la funcion de filtrado de MudBlazor
    private bool FilterFunc1(ApplicationUser element) => FilterFunc(element, searchString1);

    private bool FilterFunc(ApplicationUser element, string searchString)
    {
        if (string.IsNullOrWhiteSpace(searchString))
            return true;
        if (element.NombreyApellido.ToString().Contains(searchString, StringComparison.OrdinalIgnoreCase))
            return true;


        return false;
    }
}